.login-container {
  width: 100%;
  height: 100vh;
  max-width: 1200px;
  margin: 0 auto;

  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container .login-wrapper {
  max-width: 350px;
  width: 100%;
  margin-right: 30px;
}

.login-container .login-wrapper .login-form {
  margin-top: 60px;
}

.login-form h1 {
  font-size: 2em;
  text-transform: uppercase;
  margin-bottom: 20px;
}
